# Module 6

In [1]:
import seaborn as sns
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import datetime as dt
import warnings
warnings.filterwarnings('ignore')
%matplotlib notebook

### Query 6.1
Create a table/data frame with the closing prices of 30 different stocks, with 10 from each of the caps

Small Caps

In [2]:
df = pd.read_csv('Small_Cap/ASHOKA.csv')
df['Date'] = df['Date'].astype('datetime64')
df = df[df.Series == 'EQ']
df.set_index('Date',inplace = True)
df_data = pd.DataFrame(df['Close Price'],df.index)
df_data.columns = ['Ashoka']

In [3]:
df = pd.read_csv('Small_Cap/BAJAJELEC.csv')
df['Date'] = df['Date'].astype('datetime64')
df = df[df.Series == 'EQ']
df.set_index('Date',inplace = True)
df_data['Bajaj Elec']  = df['Close Price']

In [4]:
df = pd.read_csv('Small_Cap/BOMDYEING.csv')
df['Date'] = df['Date'].astype('datetime64')
df = df[df.Series == 'EQ']
df.set_index('Date',inplace = True)
df_data['Bombay Dyeing']  = df['Close Price']

In [5]:
df = pd.read_csv('Small_Cap/FORTIS.csv')
df['Date'] = df['Date'].astype('datetime64')
df = df[df.Series == 'EQ']
df.set_index('Date',inplace = True)
df_data['Fortis']  = df['Close Price']

In [6]:
df = pd.read_csv('Small_Cap/ITDC.csv')
df['Date'] = df['Date'].astype('datetime64')
df = df[df.Series == 'EQ']
df.set_index('Date',inplace = True)
df_data['IDTC']  = df['Close Price']
df.head()

,Symbol,Series,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty
Date,,,,,,,,,,,,,,
2017-05-15,ITDC,EQ,611.35,616.80,663.20,602.40,648.1,650.15,645.77,217237,1.402861e+08,8827,37494,17.26
2017-05-16,ITDC,EQ,650.15,654.00,655.95,633.05,639.0,636.70,642.75,55988,3.598617e+07,2853,17726,31.66
2017-05-17,ITDC,EQ,636.70,638.10,642.90,624.00,624.0,626.75,633.59,23787,1.507112e+07,980,9924,41.72
2017-05-18,ITDC,EQ,626.75,621.80,624.00,601.50,604.0,604.65,614.44,37216,2.286693e+07,1498,16716,44.92
2017-05-19,ITDC,EQ,604.65,610.05,618.00,590.90,591.0,594.30,605.41,43801,2.651750e+07,2121,17563,40.10

In [7]:
df = pd.read_csv('Small_Cap/PVR.csv')
df['Date'] = df['Date'].astype('datetime64')
df = df[df.Series == 'EQ']
df.set_index('Date',inplace = True)
df_data['PVR']  = df['Close Price']

In [8]:
df = pd.read_csv('Small_Cap/RAYMOND.csv')
df['Date'] = df['Date'].astype('datetime64')
df = df[df.Series == 'EQ']
df.set_index('Date',inplace = True)
df_data['Raymond']  = df['Close Price']

In [9]:
df = pd.read_csv('Small_Cap/RCOM.csv')
df['Date'] = df['Date'].astype('datetime64')
df = df[df.Series == 'EQ']
df.set_index('Date',inplace = True)
df_data['Rcom']  = df['Close Price']

In [10]:
df = pd.read_csv('Small_Cap/SUZLON.csv')
df['Date'] = df['Date'].astype('datetime64')
df = df[df.Series == 'EQ']
df.set_index('Date',inplace = True)
df_data['Suzlon']  = df['Close Price']

In [11]:
df = pd.read_csv('Small_Cap/VENKEYS.csv')
df['Date'] = df['Date'].astype('datetime64')
df = df[df.Series == 'EQ']
df.set_index('Date',inplace = True)
df_data['Venkeys']  = df['Close Price']

Mid Caps

In [12]:
df = pd.read_csv('Mid_Cap/ADANIPOWER.csv')
df['Date'] = df['Date'].astype('datetime64')
df = df[df.Series == 'EQ']
df.set_index('Date',inplace = True)
df_data['Adani Power']  = df['Close Price']

In [13]:
df = pd.read_csv('Mid_Cap/APOLLOTYRE.csv')
df['Date'] = df['Date'].astype('datetime64')
df = df[df.Series == 'EQ']
df.set_index('Date',inplace = True)
df_data['Apollo Tyre']  = df['Close Price']

In [14]:
df = pd.read_csv('Mid_Cap/DHFL.csv')
df['Date'] = df['Date'].astype('datetime64')
df = df[df.Series == 'EQ']
df.set_index('Date',inplace = True)
df_data['DHFL']  = df['Close Price']

In [15]:
df = pd.read_csv('Mid_Cap/GODREJIND.csv')
df['Date'] = df['Date'].astype('datetime64')
df = df[df.Series == 'EQ']
df.set_index('Date',inplace = True)
df_data['Godrej Ind']  = df['Close Price']

In [16]:
df = pd.read_csv('Mid_Cap/JINDALSTEL.csv')
df['Date'] = df['Date'].astype('datetime64')
df = df[df.Series == 'EQ']
df.set_index('Date',inplace = True)
df_data['Jindal Steel']  = df['Close Price']

In [17]:
df = pd.read_csv('Mid_Cap/MINDTREE.csv')
df['Date'] = df['Date'].astype('datetime64')
df = df[df.Series == 'EQ']
df.set_index('Date',inplace = True)
df_data['Mind Tree']  = df['Close Price']

In [18]:
df = pd.read_csv('Mid_Cap/MUTHOOTFIN.csv')
df['Date'] = df['Date'].astype('datetime64')
df = df[df.Series == 'EQ']
df.set_index('Date',inplace = True)
df_data['Muthoot Fin']  = df['Close Price']

In [19]:
df = pd.read_csv('Mid_Cap/RELINFRA.csv')
df['Date'] = df['Date'].astype('datetime64')
df = df[df.Series == 'EQ']
df.set_index('Date',inplace = True)
df_data['Rel Infra']  = df['Close Price']

In [20]:
df = pd.read_csv('Mid_Cap/TATACHEM.csv')
df['Date'] = df['Date'].astype('datetime64')
df = df[df.Series == 'EQ']
df.set_index('Date',inplace = True)
df_data['Tata Chem']  = df['Close Price']

In [21]:
df = pd.read_csv('Mid_Cap/TATAPOWER.csv')
df['Date'] = df['Date'].astype('datetime64')
df = df[df.Series == 'EQ']
df.set_index('Date',inplace = True)
df_data['Tata Power']  = df['Close Price']

Large Caps

In [22]:
df = pd.read_csv('Large_Cap/ADANIPORTS.csv')
df['Date'] = df['Date'].astype('datetime64')
df = df[df.Series == 'EQ']
df.set_index('Date',inplace = True)
df_data['Adani Ports']  = df['Close Price']

In [23]:
df = pd.read_csv('Large_Cap/ASIANPAINT.csv')
df['Date'] = df['Date'].astype('datetime64')
df = df[df.Series == 'EQ']
df.set_index('Date',inplace = True)
df_data['Asian Paint']  = df['Close Price']

In [24]:
df = pd.read_csv('Large_Cap/GAIL.csv')
df['Date'] = df['Date'].astype('datetime64')
df = df[df.Series == 'EQ']
df.set_index('Date',inplace = True)
df_data['Gail']  = df['Close Price']

In [25]:
df = pd.read_csv('Large_Cap/HINDALCO.csv')
df['Date'] = df['Date'].astype('datetime64')
df = df[df.Series == 'EQ']
df.set_index('Date',inplace = True)
df_data['Hindalco']  = df['Close Price']

In [26]:
df = pd.read_csv('Large_Cap/HINDUNILVR.csv')
df['Date'] = df['Date'].astype('datetime64')
df = df[df.Series == 'EQ']
df.set_index('Date',inplace = True)
df_data['Hind Unilvr']  = df['Close Price']

In [27]:
df = pd.read_csv('Large_Cap/ITC.csv')
df['Date'] = df['Date'].astype('datetime64')
df = df[df.Series == 'EQ']
df.set_index('Date',inplace = True)
df_data['ITC']  = df['Close Price']

In [28]:
df = pd.read_csv('Large_Cap/LT.csv')
df['Date'] = df['Date'].astype('datetime64')
df = df[df.Series == 'EQ']
df.set_index('Date',inplace = True)
df_data['LT']  = df['Close Price']

In [29]:
df = pd.read_csv('Large_Cap/RELIANCE.csv')
df['Date'] = df['Date'].astype('datetime64')
df = df[df.Series == 'EQ']
df.set_index('Date',inplace = True)
df_data['Reliance']  = df['Close Price']

In [30]:
df = pd.read_csv('Large_Cap/TCS.csv')
df['Date'] = df['Date'].astype('datetime64')
df = df[df.Series == 'EQ']
df.set_index('Date',inplace = True)
df_data['TCS']  = df['Close Price']

In [31]:
df = pd.read_csv('Large_Cap/TITAN.csv')
df['Date'] = df['Date'].astype('datetime64')
df = df[df.Series == 'EQ']
df.set_index('Date',inplace = True)
df_data['Titan']  = df['Close Price']

In [32]:
del(df)
df_data

,Ashoka,Bajaj Elec,Bombay Dyeing,Fortis,IDTC,PVR,Raymond,Rcom,Suzlon,Venkeys,...,Adani Ports,Asian Paint,Gail,Hindalco,Hind Unilvr,ITC,LT,Reliance,TCS,Titan
Date,,,,,,,,,,,,,,,,,,,,,
2017-05-15,216.05,341.15,82.20,205.25,650.15,1524.95,772.80,32.00,19.60,1169.70,...,356.20,1148.05,414.00,198.45,983.25,277.95,1742.40,1344.10,2365.10,483.65
2017-05-16,214.90,347.00,83.40,207.90,636.70,1539.00,785.00,32.10,19.70,1177.00,...,354.50,1142.85,411.40,196.50,1000.40,283.45,1740.70,1356.30,2429.15,488.30
2017-05-17,217.00,349.85,82.25,205.90,626.75,1530.30,783.65,31.95,19.90,1188.00,...,348.55,1154.95,408.30,198.85,1009.40,281.65,1755.45,1353.10,2455.35,481.75
2017-05-18,209.65,334.10,78.95,196.85,604.65,1515.05,746.95,31.05,20.00,1156.90,...,347.90,1151.35,404.75,194.00,990.25,277.90,1722.60,1327.35,2536.20,471.65
2017-05-19,206.25,336.20,77.15,203.55,594.30,1513.55,723.10,30.55,20.60,1161.65,...,349.45,1123.15,401.05,191.00,1008.00,286.20,1724.55,1318.85,2507.15,471.15
2017-05-22,201.60,313.25,74.00,194.80,574.65,1481.00,715.95,29.80,20.40,1219.70,...,354.45,1112.55,390.20,190.25,1018.60,303.60,1751.95,1324.15,2531.35,481.40
2017-05-23,197.65,315.55,70.45,196.55,553.80,1496.45,699.55,28.00,19.75,1187.80,...,331.65,1098.90,380.35,192.00,1024.80,300.15,1740.75,1305.55,2521.70,478.35
2017-05-24,196.00,327.95,66.95,194.35,516.15,1450.00,662.25,25.90,18.85,1144.90,...,339.65,1091.20,390.65,187.05,1038.05,299.90,1684.45,1297.70,2559.15,469.20
2017-05-25,199.55,346.20,69.85,202.55,508.15,1461.15,678.30,25.95,19.35,1181.85,...,340.75,1113.20,401.00,190.55,1043.45,300.05,1768.85,1302.45,2624.60,463.90
2017-05-26,199.90,359.45,73.00,202.75,511.05,1471.50,721.15,25.75,19.80,1240.90,...,348.00,1132.45,401.75,198.40,1040.95,309.10,1787.60,1337.30,2578.25,473.45
2017-05-29,200.05,348.70,70.50,196.10,511.85,1472.85,695.50,20.50,19.15,1241.90,...,327.80,1146.55,401.15,201.25,1072.25,315.85,1782.40,1356.90,2572.85,470.65
2017-05-30,194.90,342.85,71.80,198.15,504.70,1447.90,695.45,20.00,19.15,1212.30,...,340.35,1159.45,405.45,203.15,1072.60,311.45,1767.55,1359.35,2551.10,469.80
2017-05-31,190.35,342.05,71.35,195.15,520.65,1454.95,694.20,19.90,19.30,1213.35,...,339.00,1151.20,414.00,200.70,1067.00,311.80,1760.70,1340.70,2546.60,474.90
2017-06-01,187.50,341.45,70.95,198.35,519.15,1455.70,693.90,20.75,19.50,1252.65,...,349.20,1160.45,410.35,197.25,1095.35,314.20,1792.80,1328.25,2553.60,470.70
2017-06-02,190.25,352.15,69.95,192.95,498.40,1457.80,702.65,20.65,19.75,1244.10,...,357.90,1164.30,402.35,197.05,1086.40,319.20,1784.00,1324.75,2564.90,471.75
2017-06-05,192.00,357.60,76.65,194.90,539.10,1442.25,751.25,20.80,19.85,1244.35,...,361.05,1161.55,398.00,197.10,1097.75,317.45,1804.90,1329.35,2603.95,551.85
2017-06-06,187.60,357.65,77.65,191.05,539.20,1392.85,728.45,20.15,19.35,1253.45,...,361.45,1153.15,398.90,195.45,1091.55,311.05,1775.15,1312.80,2696.00,527.15
2017-06-07,186.15,357.90,81.30,194.05,614.10,1400.70,729.05,19.35,19.35,1403.65,...,359.10,1161.50,402.60,197.20,1106.35,312.25,1788.60,1339.00,2615.25,536.20
2017-06-08,186.25,356.50,84.10,192.95,609.95,1454.00,733.50,18.75,19.15,1427.25,...,359.15,1143.30,388.60,198.45,1093.50,311.60,1774.25,1331.70,2521.60,529.10
2017-06-09,185.05,350.00,83.40,193.55,608.40,1472.25,732.10,18.40,19.20,1414.45,...,359.85,1155.75,381.15,202.15,1095.35,306.00,1778.20,1335.70,2507.00,525.45
2017-06-12,189.80,348.45,82.05,191.45,593.20,1488.95,717.70,18.35,19.00,1392.70,...,356.85,1150.70,381.40,200.60,1099.65,304.40,1736.60,1319.45,2487.20,515.80
2017-06-13,192.25,343.50,81.30,189.45,608.00,1496.30,730.85,18.05,18.95,1387.95,...,359.40,1149.70,381.70,200.60,1102.75,305.25,1739.00,1314.35,2451.55,520.55
2017-06-14,190.65,349.30,83.40,187.00,604.30,1522.50,721.60,18.30,18.75,1385.90,...,359.50,1149.60,381.05,200.15,1113.70,299.85,1764.45,1357.50,2470.20,521.90
2017-06-15,190.55,345.60,82.50,197.65,606.85,1523.50,729.90,19.05,18.95,1459.65,...,360.00,1140.30,376.60,196.60,1104.00,301.90,1735.35,1383.95,2411.20,517.65
2017-06-16,193.30,343.95,82.35,190.50,595.60,1564.15,739.95,19.05,18.75,1473.50,...,363.15,1145.40,378.35,195.25,1091.80,306.80,1726.70,1388.80,2399.70,516.40
2017-06-19,194.80,346.80,81.40,190.10,594.50,1569.90,731.70,19.10,18.55,1450.55,...,373.80,1154.15,380.65,200.85,1095.65,310.90,1755.80,1409.25,2431.70,515.20
2017-06-20,199.20,341.40,85.20,198.40,569.10,1570.30,735.35,19.05,18.60,1442.95,...,375.65,1149.45,375.20,202.00,1093.05,308.70,1750.50,1412.35,2445.00,526.70
2017-06-21,198.25,342.35,87.45,194.90,571.55,1581.40,743.40,19.70,18.70,1425.35,...,369.95,1155.40,368.25,196.55,1123.45,308.95,1754.20,1422.00,2406.30,523.10
2017-06-22,191.55,340.00,86.15,197.90,564.55,1563.95,731.00,20.10,18.70,1405.40,...,369.45,1162.55,360.10,191.60,1094.05,311.30,1736.40,1432.65,2394.85,519.90
2017-06-23,184.15,328.40,83.25,172.50,549.70,1508.00,712.30,21.20,18.40,1466.80,...,365.45,1153.65,354.15,188.70,1097.90,311.00,1722.70,1435.85,2361.70,513.30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-03-27,130.95,559.50,136.00,137.45,280.45,1606.00,798.95,4.55,6.65,2328.45,...,366.30,1472.05,355.85,207.65,1680.80,293.10,1366.45,1349.25,1967.90,1116.50
2019-03-28,129.80,566.55,138.20,136.60,281.45,1642.85,795.00,4.35,6.50,2318.20,...,381.30,1497.00,358.30,202.35,1683.90,300.00,1386.70,1360.00,2000.30,1134.25
2019-03-29,126.90,558.10,134.95,135.75,279.80,1646.70,811.50,4.15,6.15,2267.35,...,378.15,1492.70,347.65,205.50,1706.80,297.25,1385.30,1363.25,2001.65,1141.85
2019-04-01,130.20,551.20,136.75,136.60,282.25,1650.60,826.10,3.95,6.20,2276.05,...,383.05,1492.75,354.70,215.90,1690.00,297.25,1412.20,1391.85,2031.65,1120.35
2019-04-02,133.00,565.85,139.00,137.05,282.90,1656.75,816.70,3.80,6.80,2254.20,...,379.70,1519.30,362.60,216.95,1687.15,297.90,1409.75,1389.70,2079.30,1111.90
2019-04-03,133.10,549.25,136.95,136.40,276.40,1640.35,809.20,3.65,6.50,2209.40,...,382.00,1497.60,352.45,215.95,1670.80,296.15,1378.05,1375.20,2079.30,1100.50
2019-04-04,127.80,538.30,143.05,136.80,274.35,1657.90,801.20,3.50,6.70,2171.80,...,380.20,1519.00,346.30,210.45,1666.55,294.80,1368.70,1353.05,2014.50,1106.10
2019-04-05,134.45,544.60,140.65,136.75,279.40,1678.20,806.45,3.35,6.70,2208.45,...,387.15,1514.45,348.80,215.40,1659.10,294.55,1373.80,1353.90,2048.30,1106.40
2019-04-08,132.85,532.50,137.30,135.15,277.00,1681.90,796.90,3.20,6.65,2146.95,...,379.90,1496.35,341.90,214.45,1664.90,292.75,1373.65,1329.25,2070.75,1104.40
2019-04-09,131.40,541.00,136.10,135.65,276.30,1680.25,781.45,3.05,6.70,2151.20,...,380.70,1444.85,343.50,217.15,1680.50,296.30,1375.20,1334.45,2091.50,1098.55
2019-04-10,129.35,550.05,136.40,135.75,279.00,1694.65,777.85,2.90,6.70,2133.15,...,383.45,1409.85,337.70,211.70,1694.15,294.70,1371.55,1331.40,2040.25,1100.20
2019-04-11,129.25,548.55,135.25,136.65,276.85,1718.55,777.40,2.80,6.70,2115.50,...,379.45,1423.15,342.70,211.30,1710.40,296.40,1378.00,1346.80,2019.50,1105.05
2019-04-12,130.90,556.25,136.95,138.75,276.55,1696.45,784.15,2.70,7.20,2141.25,...,385.65,1438.65,356.75,209.75,1721.65,305.75,1360.90,1343.10,2014.50,1097.00
2019-04-15,130.00,571.70,136.75,141.10,277.50,1699.45,796.70,2.60,7.35,2214.80,...,387.05,1431.55,354.05,212.75,1722.05,305.50,1356.90,1340.15,2113.30,1090.15
2019-04-16,131.10,578.35,135.25,141.15,278.30,1716.85,795.15,2.50,7.35,2222.55,...,395.65,1459.00,351.60,214.95,1738.55,307.20,1381.40,1343.75,2131.80,1120.05
2019-04-18,131.65,566.85,130.05,140.40,271.65,1710.05,781.25,2.40,7.10,2154.60,...,390.55,1469.60,351.95,207.20,1739.90,304.40,1360.70,1385.95,2150.05,1125.40
2019-04-22,128.05,564.50,124.10,139.55,266.90,1694.05,755.40,2.30,6.80,2102.90,...,391.05,1443.35,344.85,200.40,1739.85,301.80,1360.15,1345.35,2161.45,1123.70
2019-04-23,127.85,560.70,122.95,139.50,266.15,1670.55,754.95,2.20,7.20,2081.25,...,390.90,1431.00,339.45,200.35,1744.20,303.40,1348.20,1363.85,2155.05,1129.55
2019-04-24,129.80,563.45,125.65,139.15,266.50,1711.70,759.05,2.10,7.25,2077.45,...,391.75,1450.05,346.05,200.70,1752.60,306.45,1360.65,1389.50,2183.45,1149.15
2019-04-25,129.05,568.90,126.90,138.95,265.60,1715.10,756.70,2.00,7.15,2076.25,...,389.25,1447.95,343.10,196.55,1734.20,304.15,1355.15,1372.40,2195.00,1141.30
2019-04-26,127.60,570.30,124.85,139.10,267.85,1718.35,757.05,1.90,7.20,2074.70,...,391.75,1448.75,353.40,201.15,1747.35,304.55,1358.20,1392.80,2238.55,1137.50
2019-04-30,124.20,571.85,112.55,138.55,259.85,1769.45,771.65,1.85,6.85,1996.45,...,392.80,1463.15,355.95,206.05,1757.70,301.35,1348.55,1392.80,2260.35,1158.55
2019-05-02,120.70,565.50,120.30,137.85,253.70,1805.00,741.25,1.90,6.75,1987.40,...,395.30,1436.60,347.55,204.70,1723.55,305.00,1358.75,1405.05,2215.40,1138.15
2019-05-03,119.25,559.50,126.85,137.75,255.95,1808.10,760.30,1.95,6.75,1963.35,...,387.25,1438.55,345.45,205.10,1693.55,304.25,1363.60,1408.85,2132.00,1145.05
2019-05-06,116.05,557.85,129.90,136.35,264.75,1802.30,806.05,2.00,6.60,2014.90,...,379.80,1412.80,346.25,198.90,1668.90,307.00,1352.70,1384.90,2157.85,1082.85
2019-05-07,118.10,557.75,121.45,135.20,254.30,1780.10,808.95,2.10,6.35,2000.45,...,371.90,1387.80,340.75,200.45,1697.50,301.90,1366.60,1343.50,2151.95,1086.50
2019-05-08,115.45,534.45,119.35,133.60,251.95,1748.50,807.10,2.20,5.95,1956.70,...,369.80,1385.70,337.50,200.00,1688.70,300.65,1360.35,1299.45,2152.85,1088.70
2019-05-09,115.30,531.85,117.75,133.00,246.25,1758.45,805.30,2.30,5.65,1930.10,...,363.90,1354.20,340.40,198.15,1703.75,299.85,1356.45,1256.45,2172.55,1104.45
2019-05-10,117.45,540.90,117.05,131.90,251.15,1715.40,804.40,2.40,6.40,1820.65,...,372.55,1341.05,341.55,195.80,1687.45,297.75,1355.50,1251.15,2135.80,1132.10
2019-05-13,117.15,541.55,109.85,129.70,242.75,1724.00,779.35,2.30,5.60,1706.75,...,364.75,1332.50,332.05,192.20,1702.00,289.30,1317.65,1232.05,2128.75,1144.70

### Query 6.2
Calculate average annual percentage return and volatility of all 30 stocks over a theoretical one year period

In [33]:
df_data = df_data.pct_change()*100

daily_mean = df_data.mean()
daily_std = df_data.std()

annual_mean_return = round(daily_mean*252,2)
annual_std = round(daily_std*np.sqrt(252),2)

In [34]:
data = pd.DataFrame({'Mean' : annual_mean_return.values,
                    'Std Deviation' :annual_std},df_data.columns)
data.head()

                Mean  Std Deviation
Ashoka        -20.85          44.30
Bajaj Elec     31.61          40.24
Bombay Dyeing  43.16          68.17
Fortis        -14.60          42.13
IDTC          -36.94          52.78


### Query 6.3
Cluster the 30 stocks according to their mean annual Volatilities and Returns using K-means clustering. Identify the optimum number of clusters using the Elbow curve method


### Query 6.4
Prepare a separate Data frame to show which stocks belong to the same cluster